<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperElectronic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperElectronic.styles.css" asp-append-version="true" />
    <style>


        
        #navlink {

            height: auto;
            margin: 1px;
            
            background-blend-mode: color-dodge;
            opacity: 0.80;
            font-size: 20px;
            color: red;
        }

        #navlink:hover {
             opacity: 1;
        }

        #text {
            font-family: 'Courier New';
            color: blue;
            font-weight: bold;
            background-color: transparent;
            opacity:0.8;
        }

        #text:hover {
                background-color: aquamarine;
                opacity: 1;
        }
       
    </style>
</head>
<body>
    @*header eklencek calismassa yenisi "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom   box-shadow mb-3" *@
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" id="text" asp-area="" asp-controller="Home" asp-action="Index">SuperElectronic</a>
               
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               

                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <a class="navbar-brand" id="text" asp-area="" asp-controller="Products" asp-action="Index">Urunler</a>
                </div>
            </div>
        </nav>
    </header>
    @*Homepage olunca Containeri Kaldirdim Footerida Kaldirdim Buraya ozel bir footer eklerim belki*@
    @if (ViewData["Homepage"] == null)
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    }
    else
    {
        @RenderBody()
        <style>
            footer {
                display: none;
            }
        </style>
    }

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - SuperElectronic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Bize Ulasin</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
