
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --login-alert-background-image: radial-gradient(circle at 30% 86%, rgba(255,255,255,0.03) 0%,
    rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%), radial-gradient(circle at 55% 100%,
    rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%), 
        radial-gradient(circle at 40% 75%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 
    6%,transparent 6%, transparent 94%), radial-gradient(circle at 7% 99%, rgba(255,255,255,0.03) 0%,
    rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%), radial-gradient(circle at 69% 76%, 
    rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%), 
        radial-gradient(circle at 2% 35%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03)
    6%,transparent 6%, transparent 94%), radial-gradient(circle at 14% 48%, rgba(255,255,255,0.03) 0%, 
    rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%), radial-gradient(circle at 28% 87%, 
    rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%), 
        radial-gradient(circle at 65% 14%, rgba(255,255,255,0.04) 0%, 
    rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%), radial-gradient(circle at 51% 36%, 
    rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%), 
        radial-gradient(circle at 6% 93%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, 
    transparent 96%), linear-gradient(135deg, rgb(23, 233, 173),rgb(29, 24, 208));
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.animated {
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
#AnaSayfaLogo{
   /* clip-path:polygon(0 0, 100% 0, 100% 80% , 0 100%);*/
    

}
@keyframes moveInFromLeft {

    0%{
        opacity:0;
        transform:translateY(-100px);
    }

    100%{
        opacity:1;
        transform :translateY(0);
    }
}
.btn-create {
    margin: 4px;
    padding: 4px 6px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: blue;
    border-radius: 10px;
    display: inline-block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right;
}
.btn-create:hover{
    transform:translateY(-3px);
    box-shadow:0 10px,20px rgba(0,0,0,.2)
}
.btn-create:active{
    transform:translateY(1px);
    box-shadow:0 10px,20px rgba(0,0,0,.2)
}
#Detay-Liste {
    color: red;
    font-family: Audiowide;
    background-image:url(../UrunResimleri/ArrowBackgorund.jpg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
#Detay-Liste-Description {
    color: red;
    font-family: Audiowide;
    background-image: url(../UrunResimleri/ArrowBackgorund.jpg);
}
#Detay-Aciklama {
    color: red;
    
}
#Detay-Table{
    background-image:url(../UrunResimleri2/DetayBackground.jpg)
}
.button-87 {
    margin: 4px;
    padding: 4px 6px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: blue;
    border-radius: 10px;
    display: inline-block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
}

    .button-87:hover {
        background-position: right;
    }

.rowo {
    display: flex;
    width: 100%; /*Optional*/
}
/* The alert message box */
.loginalert {
    text-align:center;
    padding: 20px;
    background-image: var(--login-alert-background-image);
    color: white;
    margin-bottom:2px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }