<div class="p-pdf_viewer_thumbnail">
    <div data-page-number="1">
        <p>                                                                  <b>MANİFESTO</b></p>
        <p>Art Venue İzmir (AVİ), İzmir’in Liman 
            Bölgesinde bulunan birmahalle olan Umurbey’de, kentin tam kalbinde, 
            sanatın ve kültürünbuluşma noktası olmak amacıyla ressam Mansur Tansu ve 
            Novidies<span dir="ltr" role="presentation">Medya A.Ş’nin kurucusu, </span>
            <span dir="ltr" role="presentation">kültürel iletişimci Kelemet Çiğdem Türk </span>tarafından 2023 yılında kuruldu.AVİ olarak, sürdürülebilirlik ilkesini benimseyerek mekânsal ihtiyaçları ikinci el malzemelerle karşıladık ve mekanı kentsel dönüşüm alanlarından elde edilen materyallerle yapılandırdık. Bu sayede, ekosisteme duyarlı bir kültür ve sanat mekanı olmayı hedefliyoruz.</p>
    </div>
</div>
<div id="pdf_viewer" class="p-pdf_viewer__content" tabindex="0">
    <div class="p-pdf_iframe__page" aria-label="Page 1" data-page-number="1">
        <div class="textLayer">
            <p><span dir="ltr" role="presentation">AVİ, toplumsal meselelere dair düşünen, yazan ve çizen herkesi bir </span><span dir="ltr" role="presentation">araya getirmeyi; katılımcıların kendilerini özgürce ifade </span><span dir="ltr" role="presentation">edebilecekleri ve fikir alışverişinde bulunabilecekleri bir platform </span><span dir="ltr" role="presentation">olabilmeyi hedefliyor. Sürdürülebilirlik ilkesini benimseyen bir </span><span dir="ltr" role="presentation">kültür ve sanat merkezi olarak AVİ, şehrin endüstriyel miras </span><span dir="ltr" role="presentation">bölgesinde bulunan eski bir tütün deposunu, ileri dönüşüm ve </span><span dir="ltr" role="presentation">minimal müdahale yöntemleriyle yenileyerek bir buluşma noktası </span><span dir="ltr" role="presentation">haline getiriyor. </span><span dir="ltr" role="presentation">2024 yılında AVİ’ye katılan yeni bileşenler, mekânımızı daha da </span><span dir="ltr" role="presentation">zenginleştirerek çeşitlendirdi. </span></p>
            <p><span dir="ltr" role="presentation">Ferhat Kentel’in Sosyoloji Dükkânı, </span><span dir="ltr" role="presentation">toplumsal konular üzerine derinlemesine araştırmalar yaparak </span><span dir="ltr" role="presentation">sosyal bilimlerin ışığında toplumsal projeler üretirken, Murat </span><span dir="ltr" role="presentation">Küçükarslan’ın Meydan Müzik Stüdyosu, İzmir’in müzik mirasını </span><span dir="ltr" role="presentation">modern dokunuşlarla yaşatmaya devam ediyor. Ümit Nar’ın Hermes </span><span dir="ltr" role="presentation">Sahaf’ı, geniş kitap yelpazesiyle İzmir’in entelektüel ve kültürel </span><span dir="ltr" role="presentation">birikimini destekliyor.</span><span dir="ltr" role="presentation">SoFi – Sosyal Fayda için İletişim Derneği ise </span><span dir="ltr" role="presentation">hak temelli iletişimi güçlendirmek amacıyla çeşitli eğitim ve </span><span dir="ltr" role="presentation">etkinlikler düzenliyor.</span><span dir="ltr" role="presentation">Tüm bu bileşenler, AVİ’nin dinamik yapısını </span><span dir="ltr" role="presentation">oluşturan ve vizyonumuzu destekleyen önemli unsurlar.</span></p>
        </div>
    </div>
</div>
<div id="pdf_viewer" class="p-pdf_viewer__content" tabindex="0">
    <div class="p-pdf_iframe__page" aria-label="Page 1" data-page-number="1">
        <div class="textLayer">
            <p><span dir="ltr" role="presentation">Amacımız, İzmir’in kültürel ve ekolojik zenginliğinden beslenerek </span><span dir="ltr" role="presentation">sanatı ve toplumsal bilinci bir araya getirmek. Bu anlamda, sanatı </span><span dir="ltr" role="presentation">herkes için erişilebilir kılmak, toplumsal adalet ve eşitliği savunmak, </span><span dir="ltr" role="presentation">doğaya saygı göstermek ve kültürel farklılıkları kucaklamak temel </span><span dir="ltr" role="presentation">değerlerimiz. </span><span dir="ltr" role="presentation">Toplumsal meselelere duyarlı, sürdürülebilir ve katılımcı bir </span><span dir="ltr" role="presentation">anlayışla, şehirle ve onun zengin mirasıyla derin bağlar kurarak, </span><span dir="ltr" role="presentation">sanatın ve kültürün dönüştürücü gücüne inanıyoruz. AVİ olarak </span><span dir="ltr" role="presentation">herkes için sanat ve kültürü erişilebilir kılmak </span><span dir="ltr" role="presentation">için </span><span dir="ltr" role="presentation">buradayız!</span></p>
        </div>
    </div>
</div>