@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
@model LoginDto
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>

    </style>
</head>
<div class="bg">
</div>
<div class="rowo">
    <main class="form-signin">
       @if(ViewBag.ErrorMessage != null){
            <div class="loginalert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Kullanici Adi Veya Sifre Hatali
            </div>
       }
        @*Auto Complete simdilik On kalsin cunku test ederken bazi seyleri tekrar tekrar yazmak istemiyorum*@
        <form method="post" asp-controller="Account" asp-action="Login" autocomplete="on">
            <h1 class="h3">
                @*    <a class="h3" style="text-decoration:none; color:#fff;"
                asp-controller="Home" asp-action="Index">Ana Sayfa</a> *@
                <a class="w-100 btn btn-lg" style="text-decoration:none; color:#fff;" asp-controller="Home" asp-action="Index">Ana Sayfaya Don</a>
            </h1>
            <h1 class="h3">Kaydol</h1>
            @* <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@

            <div class="form-floating">
                <input class="form-control" asp-for="Email" id="floatingInput" placeholder="Email" />
                <label for="floatingInput">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="Password" id="floatingInput" placeholder="Sifre" />
                <label for="floatingInput">Sifre</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="RememberMe" id="rememberMeSwitch">
                    <label class="form-check-label"> Remember me </label>

                </div>
            </div>
            @* <button class="w-100 btn btn-lg" type="submit">Sign in</button> *@
            @* <a class="w-100  btn btn-lg" style="text-decoration:none; color:#fff; height:auto;max-height:50px;" asp-controller="Home" asp-action="Index">Giris Yap</a> *@
            <button class="w-100  btn btn-lg" style="text-decoration:none; color:#fff; height:auto;max-height:50px; margin-top:5px;" type="submit">Login</button>
            <div>
                <a class="btn w-100 btn-lg" style="margin-top:5px; height:auto;" asp-controller="Account" asp-action="ForgotPassword">Forgot Your Password</a>
            </div>
            @* <div class="container" style="display:flex">
            <a class="w-100 btn btn-lg" style="text-decoration:none; color:#fff;" asp-controller="Home" asp-action="Index">Giris Yap</a>
            <a class="w-100 btn btn-lg" style="text-decoration:none;margin-left:15px;  color:#fff;" asp-controller="Home" asp-action="Index">Kaydol</a>
            </div> *@
        </form>
    </main>
</div>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
}
